* { margin: 0; padding: 0; border: 0; font-size: 100%; }

#my-id {background-image: url(../images/background_sky.jpg);} 

body{
	background-color: grey;
	font-family: 'Open Sans Condensed', sans-serif;
}

h1, h2, h3, h4 p{
	color: white; 
	text-align: left;

}

h1{
	background-color: orange
	padding: 25px
	border: 5px;
	border-style: double;
	border-width: 5px
	border color: black;
}

.bold{
	font-weight: bold;
	display: inline;

	color: white; 
	text-align: left;

}

#italic{
	font-style: italic;
}

.my-container{
	border: thick; solid #007DFF;
	background-color: #A4C9D0;
}